[package]
name = "mini_redis_async"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1.41", features = ["full"] }
bytes = "1"
fxhash = "0.2"
anyhow = "1.0"

[profile.release]
opt-level = 3
lto = "thin"
codegen-units = 1
debug = false
overflow-checks = false
panic = "abort"
